* {
  font-family: Monaco, sans-serif;
}

.App {
  margin-top: 10px;
  width: 80%;
  margin: auto;
  padding-bottom: 5px;
  border: 2px solid #7CB7DC;
  background-color: #EFEFEF;
}

.commentContainer {
  margin-top: 6px;
  padding: 5px 10px;
  cursor: pointer;
}

.child-comment-parent{
  border:2px solid #7CB7DC;
}

.child-comment{
  display:flex;
  justify-content: space-between;
  background-color: #6CACEF;
}

.root-comment{
  display: flex;
  justify-content: space-between; 
  background-color: #6CACEF;
  padding: 5px;
}
.input-box{
  width: 40%;
}
.reply-button-wrap{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  gap:10px;
}
.inputContainer > span {
  margin-top: 5px;
}

.inline-reply{
display: flex;
justify-content: space-between;
background-color: #6CACEF;
padding: 5px;
}
.reply-cancel-wrap{
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  
}
.icons{
  font-size: 30px;
  color: #7b7b7b;
  cursor: pointer;
}
.inputContainer__input {
  margin: 6px 0 0px 0;
  padding: 5px;
  display: flex;
  border: 1px solid lightgray;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 5px;
}

.first_input {
  margin: 0;
}

.commentContainer > span {
  margin: 0 5px;
}

.reply {
  font-size: 12px;
  padding: 5px;
  color: #8F8D79;
  background-color: #E0E0DF;
  font-weight: 600;
  cursor: pointer;
  display:flex;
  align-items: center;
  justify-content: center;
}

.comment, .export-button{
  width: 80px;
  padding: 4px;
  color: #8F8D79;
  background-color: #E0E0DF;
}

.export-button{
  margin: 10px;
  font-size: 14px;
  border: 1.2px solid #8F8D79;
  font-weight: bold;
}
.fillReply{
  color:red
}
